<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>

<body>
    <header class="header">

        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a href="#">Home</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Logout</a></li>
                <li><a href="#">Add Hotel</a></li>
                <li><a href="#">Add Flight</a></li>
                <li><a href="#">See Information</a></li>
        </ul>
    </header>
    <div class="wrapper">
        <main>
            <div class="hotel-form">
                <h3>Create your account</h3>
                <form id="hotel-form">
                    <div>
                        <label for="country">Държава</label>
                        <select id="country" name="country">
                            <option value="default">default</option>
                        </select>
                    </div>
                    <div>
                        <label for="city">Град</label>
                        <input type="text" id="city" spellcheck="false" placeholder="Sofia" />
                    </div>
                    <div>
                        <label for="hotel-name">Име на хотел</label>
                        <input type="text" id="hotel-name" spellcheck="false" placeholder="Ibis hotel"/>
                    </div>
                    <div>
                        <label for="check-in">Настаняване</label>
                        <input type="date" id="check-in" />
                    </div>
                    <div>
                        <label for="check-out">Напускане</label>
                        <input type="date" id="check-out" />
                    </div>
                    <div>
                        <label for="price">Цена</label>
                        <input type="number" id="price" min="0"/>
                    </div>
                    <div class="textarea-wrapper">
                        <label for="notes">Бележки</label>
                        <textarea id="notes"></textarea>
                    </div>
                    <div>
                        <label></label>
                        <input type="submit" value="Запази"  class="button" />
                    </div>
                </form>
            </div>
        </main>
    </div>
    <footer>
        <p>Copyright 2020 BoogyHS</p>
    </footer>
</body>

</html>