<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Parisienne&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3cd69e2433.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <header class="header">

        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a href="#">Начало</a></li>
            <li><a href="#">Вход</a></li>
            <li><a href="#">Регистрация</a></li>
            <li><a href="#">Изход</a></li>
            <li><a href="#">Ново пътуване</a></li>
            <li><a href="#">Информация</a></li>
        </ul>
    </header>
    <div class="wrapper">
        <main>
            <div class="cards">
                <div class="card">
                    <div class="card-left-part">
                        <img src="https://bstatic.com/xdata/images/hotel/312x172/181262908.jpg?k=5cecfa4b7abff4abf8576cdf5c127aaec15294dd223b693ed052fccfe0557dd2&o="
                            alt="">
                    </div>
                    <div class="card-middle-part">
                        <h3> <span>City</span>, <span>Country</span></h3>
                        <h4 class="card-hotel-name">Ibis hotel</h4>
                        <p><span>13 sep 2020</span> - <span>15 sep 2020</span></p>
                    </div>
                    <div class="card-right-part">

                        <p><span>Price</span> EUR</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-left-part">
                        <img src="../public/images/hotel.png" alt="">
                    </div>
                    <div class="card-middle-part">
                        <h3> <span>City</span>, <span>Country</span></h3>
                        <h4 class="card-hotel-name">Ibis hotel</h4>
                        <p><span>13 sep 2020</span> - <span>15 sep 2020</span></p>
                    </div>
                    <div class="card-right-part">

                        <p><span>Price</span> EUR</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-left-part">
                        <img src="../public/images/plane.png" alt="">
                    </div>
                    <div class="card-middle-part">
                        <h3> <span>City</span>, <span>Country</span></h3>
                        <h4 class="card-hotel-name">Ibis hotel</h4>
                        <p><span>13 sep 2020</span> - <span>15 sep 2020</span></p>
                    </div>
                    <div class="card-right-part">

                        <p><span>Price</span> EUR</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-left-part">
                        <img src="../public/images/hotel.png" alt="">
                    </div>
                    <div class="card-middle-part">
                        <h3> <span>City</span>, <span>Country</span></h3>
                        <h4 class="card-hotel-name">Ibis hotel</h4>
                        <p><span>13 sep 2020</span> - <span>15 sep 2020</span></p>
                    </div>
                    <div class="card-right-part">

                        <p><span>Price</span> EUR</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-left-part">
                        <img src="../public/images/hotel.png" alt="">
                    </div>
                    <div class="card-middle-part">
                        <h3> <span>City</span>, <span>Country</span></h3>
                        <h4 class="card-hotel-name">Ibis hotel</h4>
                        <p><span>13 sep 2020</span> - <span>15 sep 2020</span></p>
                    </div>
                    <div class="card-right-part">

                        <p><span>Price</span> EUR</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer>
        <p>Copyright 2020 BoogyHS</p>
    </footer>
</body>

</html>