<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>

<body>
    <header class="header">

        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a href="#">Home</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Logout</a></li>
                <li><a href="#">Add Hotel</a></li>
                <li><a href="#">Add Flight</a></li>
                <li><a href="#">See Information</a></li>
        </ul>
    </header>
    <!-- <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Logout</a></li>
                <li><a href="#">Add Hotel</a></li>
                <li><a href="#">Add Flight</a></li>
                <li><a href="#">See Information</a></li>
            </ul>
        </nav>
    </header> -->
    <div class="wrapper">
        <main>
            <div class="register">
                <h3>Create your account</h3>
                <form id="reg-form">
                    <div>
                        <label for="name">Name</label>
                        <input type="text" id="name" spellcheck="false" placeholder="John Doe" />
                    </div>
                    <div>
                        <label for="email">Email</label>
                        <input type="text" id="email" spellcheck="false" placeholder="john.doe@gmail.com" />
                    </div>
                    <div>
                        <label for="username">Username</label>
                        <input type="text" id="username" spellcheck="false" placeholder="johny" />
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" id="password" />
                    </div>
                    <div>
                        <label for="repeat-password">Repeat Password</label>
                        <input type="password" id="repeat-password" />
                    </div>
                    <div>
                        <label></label>
                        <input type="submit" value="Create Account" id="register" class="button" />
                    </div>
                </form>
            </div>
        </main>
    </div>
    <footer>
        <p>Copyright 2020 BoogyHS</p>
    </footer>
</body>

</html>