<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>

<body>
    <header class="header">

        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a href="#">Начало</a></li>
            <li><a href="#">Вход</a></li>
            <li><a href="#">Регистрация</a></li>
            <li><a href="#">Изход</a></li>
            <li><a href="#">Ново пътуване</a></li>
            <li><a href="#">Информация</a></li>
        </ul>
    </header>
    <div class="wrapper">
        <main>
            <div class="wrapper-form">
                <h3>Вход</h3>
                <form id="sign-form">
                    <div>
                        <label for="username">Потребителско име</label>
                        <input type="text" id="username" spellcheck="false" placeholder="Boogy" />
                    </div>
                    <div>
                        <label for="password">Парола</label>
                        <input type="password" id="password" placeholder="*****"/>
                    </div>
                    <div>
                        <label></label>
                        <input type="submit" value="Вход" id="login-button" class="button" />
                    </div>
                </form>
            </div>
        </main>
    </div>
    <footer>
        <p>Copyright 2020 BoogyHS</p>
    </footer>
</body>

</html>