<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Parisienne&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3cd69e2433.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <header class="header">

        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a href="#">Начало</a></li>
            <li><a href="#">Вход</a></li>
            <li><a href="#">Регистрация</a></li>
            <li><a href="#">Изход</a></li>
            <li><a href="#">Ново пътуване</a></li>
            <li><a href="#">Информация</a></li>
        </ul>
    </header>
    <div class="wrapper">
        <main>
            <div class="wrapper-form">
                <h3>Ново пътуване</h3>
                <form id="new-travel-form">
                    <div>
                        <label for="travel-name">Име</label>
                        <input type="text" id="travel-name" spellcheck="false" placeholder="New Zealand 2018" />
                    </div>
                    <div>
                        <label for="start-date">Дата на заминаване</label>
                        <input type="date" id="start-date" />
                    </div>
                    <div>
                        <label for="end-date">Дата на връщане</label>
                        <input type="date" id="end-date" />
                    </div>
                    <div>
                        <label></label>
                        <input type="submit" value="Създай" id="new-travel-button" class="button" />
                    </div>
                </form>
            </div>
        </main>
    </div>
    <footer>
        <p>Copyright 2020 BoogyHS</p>
    </footer>
</body>

</html>