@import url('reset.css');
@import url('layout.css');
@import url('typography.css');
@import url('header.css');
@import url('footer.css');
@import url('responsive.css');
@import url('forms.css');
@import url('cards.css');

body {
    max-width: 1366px;
    margin: auto;
    position: relative;
    min-height: 100vh;
}

/* main  */

.wrapper {
    padding: 4rem 1rem 0 1rem;
    padding-top: 4rem;
}

main {
    flex-basis: 70%;
}