.wrapper {
    padding: 4rem 1rem 0 1rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

main {
    flex-basis: 70%;
}

.loader {
    margin: auto;
}

.notification {
    position: fixed;
    z-index: 10;
    top: 7rem;
    right: 5rem;
    margin: 1rem auto;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-style: italic;
    text-decoration: underline;
    box-shadow: 0 5px 10px rgb(204, 204, 204);
}

.error {
    background-color: rgba(238, 74, 74, 0.699);
}

.success {
    background-color: rgba(99, 230, 81, 0.699);
}