header {
    background: rgb(0, 128, 182);
    background: linear-gradient(0deg, rgba(0, 128, 182, 1) 0%, rgba(0, 128, 182, 1) 35%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    align-items: stretch;
}

header nav {
    flex-grow: 1;
    text-align: right;
    display: flex;
    align-items: flex-end;
}

header nav ul {
    flex-grow: 1;
    padding: 0 1rem 0 0;
    align-self: flex-end;
}

header nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0.5rem;
}

header nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
}

header nav ul li a:hover {
    color: white;
}
