@media only screen and (max-width: 769px) {
    html {
        font-size: 12px;
    }
}

#root {
    background: url("https://www.newzealand.com/assets/Videos/img-1536194798-4751-15338-34BFCBA3-C25A-17FB-A15D11670B2F607E__aWxvdmVrZWxseQo_FocalPointCropWzQyNyw2NDAsNDIsNjYsODUsImpwZyIsNjUsMi41XQ.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}