.card {
    display: flex;
    padding: 1rem 1.8rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .12), 0 2px 3px -1px rgba(0, 0, 0, .2);
    border: 1px solid transparent;
    background-color: #f7f7f7;
    color: #111;
}

.card p, h3, h4 {
    padding: 0;
    text-align: center;
}

.card h3, h4 {
    font-size: 1.3rem;
    font-weight: bold;
}

.card:hover {
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .12), 0 12px 13px -1px rgba(0, 0, 0, .2);
    background-color: #e6e0e0;
}

.card-left-part {
    flex-basis: 20%;
    max-width: 5rem;
    max-height: 4rem;
    margin-right: 1rem;
    display: flex;
    border-radius: 1rem;
}

.card-left-part img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.card-middle-part {
    flex-basis: 45%;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card-right-part {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}